.CreditLine {
    font-size: 32px;
    color: rgb(37, 190, 213);
    -unity-text-align: upper-center;
    -unity-font-definition: url('project://database/Assets/Art/UI/PauseArt/8-bit-HUD%20SDF%201.asset?fileID=11400000&guid=4b0013b9ac623dbd0ac8643ef836bb88&type=2#8-bit-HUD SDF 1');
    -unity-font: url('project://database/Assets/Art/UI/PauseArt/8-bit-HUD.ttf?fileID=12800000&guid=3737689ed1c776c45b5026f6f556808c&type=3#8-bit-HUD');
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.CreditLine2 {
    font-size: 30px;
    color: rgb(37, 190, 213);
    -unity-text-align: upper-center;
    -unity-font-definition: url('project://database/Assets/Art/UI/PauseArt/8-bit-HUD%20SDF%201.asset?fileID=11400000&guid=4b0013b9ac623dbd0ac8643ef836bb88&type=2#8-bit-HUD SDF 1');
}

.Button {
    background-image: url('project://database/Assets/Art/UI/PauseArt/BUTTON-normal.png?fileID=2800000&guid=37fcdae3bec83ae40b7560dd79e1554c&type=3#BUTTON-normal');
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(37, 190, 213);
}

.Button:hover {
    background-image: url('project://database/Assets/Art/UI/PauseArt/BUTTON-hoverl.png?fileID=2800000&guid=c3a0468d11da18f4c8651184b7a268d5&type=3#BUTTON-hoverl');
    -unity-font: url('project://database/Assets/Art/UI/PauseArt/8-bit-HUD.ttf?fileID=12800000&guid=3737689ed1c776c45b5026f6f556808c&type=3#8-bit-HUD');
    color: rgba(217, 237, 246, 255);
}

.Button:hover:active {
    background-image: url('project://database/Assets/Art/UI/PauseArt/BUTTON-pressed.png?fileID=2800000&guid=b196f6994095aa740b0680ad63a262c1&type=3#BUTTON-pressed');
}
