VisualElement {
}

.button {
    width: 400px;
    height: 400px;
    background-color: rgba(92, 110, 144, 0);
    font-size: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-color: rgb(70, 71, 94);
    border-right-color: rgb(70, 71, 94);
    border-top-color: rgb(109, 110, 125);
    border-bottom-color: rgb(57, 57, 75);
}

.label {
    font-size: 30px;
    color: rgb(95, 146, 221);
}
